body{
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    background-color: rgb(247, 243, 255);
    width: 100%;
    overflow-x: hidden;
}

html{
      scroll-behavior: smooth;

}

h1 h2 {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 700;
}

button{
    border: 0000;
}

.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    height: 78px;
    background-color: #2C2A4A;
}

.header__logo-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header__icon{
    height: 36px;
}

.header--align{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 14px ;
    margin-left: 14px ;
    align-items: center;
    justify-content: space-between;
}

.header__mobile-menu{
    cursor: pointer;
}

.header__line{
    width: 32px;
    margin: 6px;
    height: 2px;
    background-color: white;
}

.header__list{
    display: none;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
}

.header__list a{
    color: white;
    text-decoration: none;    
}

.hero{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    background-image: url(FolderImgs/sunset-8022573_1280.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.hero__itens--align{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top:18%;
}

.hero__itens--align h1{
    font-size: 38px;
    margin-bottom: 26px;
}

.hero__itens--align h1 span{
    color: #454277;
    font-weight: 700;
    font-size: 44px;
}

.hero__itens--align p{
    font-size: 23px;
    width: 80%;
}

.hero__button--call-to-action{
    background-color: #2C2A4A;
    color: white;
    height: 44px;
    font-size: 16px;
    margin-top: 5%;
    border-radius: 5px;
    font-weight: bold;
    width: 45%;
    cursor: pointer;
}

.hero__social-icons{
    display: flex;
    margin-left: 5px;
    gap: 34px;
    margin-top: 22px;
    font-size: 26px;
}

.promotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C2A4A;
    color: white;
}

.promotion__container{
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.promotion h1{
    margin-top: 4.5%; 
    font-size: 26px;
    font: bold
}

.promotion p{
    font-size: 22px;
}

.promotion__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 10%;
}

.promotion__buttons--options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-radius: 18px ;
    color: #454277;
    height: 48px;
    font-size: 22px;
    font: bold;
    transition: background color 0.5s;
    cursor: pointer;
}

.promotion__buttons--options:active{
    background-color: #454277;
    color: white;
}

.pack-travel__text--align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    color: #2C2A4A;
}

.pack-travel{
    display: flex;
    justify-content: center;
}

.pack-travel__text--align h2{
    margin-top: 10%;
    font-size: 26px;
    font: bold;
}

.pack-travel__text--align p{
    font-size: 22px;
    margin-bottom: 4%;
}

.block-tickets{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 5%;
    gap: 30px;
}

.block-tickets__dynamic-offers{
    width: 90%;
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
}

.block-tickets__dynamic-offers--align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.block-tickets__text-offers{
    width: 84%;
}

.block-tickets__text-offers span{
    color: #4a4688;
}

.block-tickets {
    flex-direction: column;
    align-items: center;
}

.block-tickets__slider {
    width: 70%;
    height: auto;
    margin-right: 0;
}

.block-tickets__slider {
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-list{
    margin-bottom: 6%;
}

.block-tickets__pack {
    max-width: 320px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
} 

.block-tickets__pack img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.block-tickets__text-offers {
    font-size: 28px;
    text-align: center;
}

.icon-suitcase {
    height: 40px;
    margin-left: 8px;
}
 
.block-tickets--align-reverse{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center; 
}

.block-tickets__slider{
    display: flex;
} 

.block-tickets__pack img{
    width: 100%;
    border-radius: 8px;
}

.block-tickets__pack--align{
    margin: 0;
    margin-left: 4%;
}

.block-tickets__pack--align p{
    color: rgb(105, 105, 105);
}

.block-tickets__destination{
    font-size: 26px;
}

.block-tickets__leaving{
    margin-bottom: 0;
    font-size: 22px;
}

.block-tickets__pack p{
    font-size: 20px;
}

.block-tickets__content-final{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
    height: auto;
    margin-top: 0;
    margin-right: 6%;
    margin-bottom: 5%;
}

.block-tickets__price{
    margin-bottom: 8%;
    font-size: 20px;
}

.block-tickets__button--buy-ticket{
    margin-right: 6%;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 2%;
    background-color: #454277;
    color: white;
    font-size: 18px;
    width: 40%;
}

.newsletter{
    display: flex;
    margin-top: 8%;    
    padding-top:5%;
    padding-bottom: 4%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #454277;
    color: white;
}

.newsletter__title{
    font-size: 26px ;
    font: bold;
    margin: 5px;
}

.newsletter__text{
    font-size: 20px;
    margin-bottom: 22px;
}

.newsletter__register{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.newsletter__input{
    width: 70%;
    font-size: 120%;
    height: 4.7vh;
    margin: 10px;
    border-radius: 5px;
    border: 0000;
}


.newsletter__button--submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 4vh;
    background-color:#6d65db;
    border: 0000;
    border-radius: 4px ;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}


.slick-prev-custom,.slick-next-custom {
    display: none;
}

.slick-dots{
    padding-top: 10%;
}

.footer {
  background-color: #2C2A4A;
  color: #fff;
}

.footer__container {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  gap: 6px;
}

.footer__brand{
   display: flex;
    margin-left: 10px;
    margin-bottom: 0;
   flex-direction: column;
}

.footer__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 22px;
  gap: 10px;
  margin: 0;
  font-weight: bold;
}

.footer__logo img{
    height: 5vh;
}

.footer__description{
    font-size: 20px;
    margin-top: 4px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 10px;
}

.footer__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}

.footer__links h3{
    font-size: 22px;
    color: #625bec;
}

.footer__links nav{
    display: flex;
    gap: 24px;
    font-weight: 400;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.footer__links a{
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
}

.footer__social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
}

.footer__social-media h3{
    font-size: 22px;
    color: #625bec;
}

.footer__social-media nav{
    display: flex;
    gap: 20px;
}

.footer__social-media i{
    font-size: 24px;
    cursor: pointer;
}

.footer__bottom{
    display: flex;
    font-size: 12px;
    justify-content: center;
    color: #454277;
}


@media (min-width: 750px) and (max-width: 1024px){

.header{
    display: flex;
    align-items: center;
    height: 90px;
}

.header--align{
    align-items: center;
    margin-left: 5% ;
    margin-right: 5%;
}

.header__logo{
    font-size: 31px;
}

.header__line{
    width: 54px;
    height: 2px;
    margin: 10px;
    background-color: white;
}

.hero__itens--align{
    margin-top:8%;
    margin-left: 6%;
}

.hero__itens--align h1{
    width: 100%;
    font-size: 56px;
}

.hero__itens--align h1 span{
    font-size: 64px;
}

.hero__itens--align p{
    width: 100%;
    font-size: 46px;
}

.hero__button--call-to-action{
    height: 62px;
    font-size: 30px;
}

.hero__social-icons{
    gap: 60px;
    margin-top: 7%;
    font-size: 40px;
}

.promotion h1{
    margin-top: 4.5%; 
    font-size: 39px;
    font: bold
}

.promotion p{
    font-size: 33px;
}

.promotion__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 10%;
    margin-bottom: 55px;
}

.promotion__buttons--options{
    height: 68px;
    font-size: 32px;
}

.pack-travel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pack-travel__text--align{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.pack-travel__text--align h2{
    margin: 0;
    margin-top: 5%;
    font-size: 39px;
}

.pack-travel__text--align p{
    font-size: 33px;
    margin-bottom: 5%;
}

.block-tickets__slider {
    width: 90%;
    margin: 0 auto;
}

.slick-track {
    display: flex;
    
}

.slick-slide {
    display: block;
    padding: 0 1px; 
    box-sizing: border-box;
}

.block-tickets__slider {
    margin: 0 -8px;
}

.block-tickets__pack {
    width: 100%;
    margin-bottom: 0;
}

.block-tickets--align-reverse{
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-bottom: 2%;
    width: auto;
}

.block-tickets__text-offers{
    font-size: 46px;
}

.icon-suitcase{
    height: 90px;
}

.block-tickets--align-reverse{
    flex-direction: column;      
    justify-content: center;    
    width: 100%;       
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-tickets__pack--align p{
    font-size: 32px;
}

.block-tickets__leaving{
    font-size: 35px;
}

.block-tickets__destination{
    font-size: 40px;
}

.block-tickets__price{
    font-size: 33px;
}

.block-tickets__button--buy-ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%; 
    font-size: 30px;
    height: 46px;
}

.block-tickets__content-final{
    margin-bottom: 3%;
    margin-right: 2% ;
}

.newsletter{
    margin-top:5%;
}

.newsletter__title{
    margin: 0;
    font-size: 39px;
    margin-top: 4%;
}

.newsletter__text{
    font-size: 30px;
    margin-bottom: 4%;
}

.newsletter__register{
    font-size: 33px;
    margin-bottom: 5%;
}

.newsletter__input{
    font-size: 28px;
    height: 60px;
}

.newsletter__button--submit{
    width: 23%;
    font-size: 25px;
    height: 5vh;
}

}

@media (min-width: 1025px){

.header{
    align-items: center;
    height: 10vh;
}

.header--align{
    margin-left: 4%;
    align-items: center;
    margin-right: 6%;
}

.header__mobile-menu{
    display: none;
}

.header__list{
    display: flex;
    width: 26%;
    font-size: 100%;
    justify-content: space-between;
}

.header__item-list{
    color: white;
    transition: color 0.4s ease;
    transition: transform 0.4s ease;
}

.header__item-list:hover{
    transform: scale(1.1); 
    color: #625bec;
}

.header__logo{
    font-size: 140%;
}

.hero{
    background-image: url(FolderImgs/photoherocss.jpg);
}

.hero__itens--align{
    margin-top: 7%;
    width: 42%;
    margin-left: 5%;
    margin-bottom: 20%;
}

.hero__itens--align p{
    width: 72%;
    font-size: 27px;
}

.hero__itens--align h1{
    font-size: 48px;
}

.hero__itens--align h1 span{
    font-size: 48px;
}

.hero__button--call-to-action{
    border: #454277 2px solid;
    background-color: transparent;
    width: 26%;
    cursor: pointer;
    transition: background 0.4s;
    transition: transform 0.4s ease;
    font-size: 14px;
    height: 40px;
}

.hero__button--call-to-action:hover{
    transform: scale(1.07); 
    background-color: #454277;
}

.hero__social-icons{
    gap: 6%;
    margin-top: 4%;
    font-size: 22px;
}

.hero__social-icons i{
    cursor: pointer;
    transition: transform 0.4s ease;
    transition: color 0.4s ease;
}

.hero__social-icons i:hover{
    transform: scale(1.1); 
    color: #454277;
}

.promotion__container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.promotion h1{
    margin-bottom: 2px;
    font-size: 30px;
}

.promotion p{
    font-size: 23px;
}

.promotion__options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
}

.promotion__buttons--options{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    font-size: 20px;
    color: #454277;
    height: 44px;
    transition:
      color 0.4s ease,
      background-color 0.4s ease,
      transform 0.4s ease;

}

.promotion__buttons--options:hover{
    color: #fff;
    transform: scale(1.07); 
    background-color: #454277;
}

.pack-travel__text--align h2{
    font-size: 30px;
}

.pack-travel__text--align p{
    font-size: 23px;
}

.pack-travel__text--align{
    margin: 0;
}

.block-tickets__pack{
    margin: 10px 12px;
    width: 40%;
    transition: none;
}

.block-tickets{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin-bottom: 10%;
}

.block-tickets__slider{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 55%;
    margin-bottom: 0;
    height: 420px;
}

.block-tickets__slider--align-reverse{
    margin-right: 10%; 
}

 .block-tickets__dynamic-offers--reverse{
    margin-right: 5%;
 }

.block-tickets__dynamic-offers{
    display: flex;
    width: 28%;
    display: flex;
    margin-bottom: 4%;
    align-items: center;
}

.block-tickets__text-offers{
    font-size: 36px;
}

.block-tickets__text-offers span{
    color: #4a4688;
}

.icon-suitcase{
    height: 60px;
    margin-left: 10%;
}

.block-tickets__pack{
    cursor: pointer;
    transition: transform 0.4s ease;
    width: 32%;
}

.block-tickets__pack:hover{
    transform: scale(1.0); 
}

.block-tickets__destination{
    font-size: 20px;
}

.block-tickets__pack--align p{
    color: rgb(105, 105, 105);
    font-size: 14px;
}

.block-tickets__leaving{
    font-size: 16px;
}

.block-tickets__price{
    font-size: 15px;
    margin-bottom: 10%;
}

.block-tickets__button--buy-ticket{
    height: 26px;
    color: white;
    cursor: pointer;
    background-color: #454277;
    width: 36%;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.block-tickets__button--buy-ticket:hover{
    transform: scale(1.1);
}

.slick-prev-custom,.slick-next-custom {
  display: block;
  height: 26px;
  width: 26px;
  background-color: #454277;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  margin: 10px;
}

.block-tickets--align-reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; 
}

.newsletter{
    padding-top: 2%;
    margin-top: 1%;
    padding-bottom: 1%;
}

.newsletter__title{
    padding-top: 0%;
    margin: 0;
    font-size: 30px;
}

.newsletter__text{
    font-size: 23px;
}

.newsletter__register{
    flex-direction: column;
    margin-bottom: 2%;
}

.newsletter__input{
    height: 40px;
    font-size: 18px;
    width: 400px;
}

.newsletter__button--submit{
    width: 180px;
    height: 40px;
    font-size: 20px;
    transition: transform 0.4s ease;
}

.newsletter__button--submit:hover{
    transform: scale(1.1);
}

.footer__container{
    display: flex;
    margin:0;
    justify-content: space-around;
    flex-direction: row;
}

.footer__brand{
    width: 30%;
}

.footer__logo{
    font-size: 20px;
}

.footer__logo img{
    height: 6vh;
}

.footer__description{
    font-size: 18px;
}

.footer__social-media{
    justify-content: flex-start;
    gap: 12px;
}

.footer__links{
    display: flex;
    align-items:flex-start;
}

.footer__links nav{
    gap: 14px;
    margin-left: 10px;
}

.footer__bottom{
    font-size: 18px;
}

}



