body{
    padding: 0;
     margin: 0; 
     font-family: 'Playfair Display', serif;
     overflow-x: hidden;
}

h1 h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

#navBar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vw;
    color: white;
    background-color: #2C2A4A;
    flex-direction: row;
    font-size: 15px;
}

.navList{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-direction: row;
    width: 83%;
}

a {
    text-decoration: none;
    color: white;
    margin: 7px;
}

.mobileMenu{
    cursor: pointer;
    display: none;
}

.mobileMenu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.logo{
    margin-left: 6vw;
    font-weight: bold;
}

.hero{ 
    display: flex;
    align-items: center;
    color:white;
    background-image: url(photoherocss.jpg);
    background-size: cover;
    background-position:top;
    width: 100%;   
    height: 100vh ;
}

.callActionTitle{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 2vw;
    margin-left:6vw;
}

.callActionTitle h1{
    font-size: 48px;    
    margin-bottom: 16px;
}

.callActionTitle h1 span{
    color:  #454277;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}


.callActionTitle p{
    font-size:26px;  
    width: 36vw;
}

.btnExploreMore{
    background-color: transparent;
    border: 2px solid #454277;
    color: white;
    padding: 10px 20px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    width: 10vw;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: 22px;
  }

  .promotion{
    background-color: #2C2A4A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 17vw;
}

.promotion h1{
    margin-top: 3vw;
    font-size: 30px;
    font: bold;
    
}

.promotion p{
    margin: 0;
    font: 26px;

}

.optionsOfPromotion{
    display: flex;
    justify-content: space-around;
    width: 90%;
 margin-top: 2vw;
}

.options{
    width: 15vw;
    border-radius: 30px;
    height: 3vw;
    background-color: #fff;
    border: 0000;
    color: #454277;
    cursor: pointer;
    font-size: 20px;
    font: bold;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.packOfTravel{
    background-color: 	#F5F5F5;

}

.alignText{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2C2A4A;
    /* margin-top: 5vw; */
    margin-bottom: 2vw;


}

.alignText h2{
    margin-top: 4vw;
font-size: 30px;
font: bold;
font-family: 'Anton', sans-serif;
}

.alignText p{
 font-size: 18px;
}

.alignContainer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 20px;
    height: 90%;
    /* margin: 20px; */
}


.ContainerPack{
    margin: 40px;
    width: 22vw;
    height: 34vw;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background-color: #2C2A4A;
    color: #F5F5F5;   
    margin-bottom: 5vw;
}

.alignTextContainer{
 margin-left:10px ;
}

.ContainerPack img{
    width: 22vw;
    margin-bottom: 3px;
    border-radius:  10px; ;
}


.ContainerPack h1{
    font-size: 24px;
    /* margin-bottom: 5px; */
    font: bold;
}

.leaving{
    color: #dfdede;
    font-size: 17px;
    font: bold;
}

.ContainerPack p{
    color: #b6b4b4;
}


.styleBtnBuy{
    width: 100%;
    display: flex;
   justify-content: flex-end;
   align-items: center;
   border-top: 1px solid white;
    /* margin-right: 14vw; */
}

.buyTicket{
 width: 7vw;
 height: 2vw;
 border: 0000;
 border-radius: 5px;
 font-size: 17px;
 color: #454277;
 font: bold;
 margin-right: 2vw;
 margin-top: 8px;
}

.price{
    font-size: 18px;
    margin: 0;
}

.receiveOurNews{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
  background-color: #2C2A4A;
  color: white;

}

.receiveOurNews h1{
    font: bold;
    margin: 20px;
}

.receiveOurNews p{
    margin-bottom:3vw;
}

.singnUpInput{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3vw;
}

.InputSign{
  width: 24vw;
  font-size: 18px;
  height:33px;
  margin: 10px; 
  border-radius: 10px;
  padding-left: 8px;
  border: 0000;
}

.finalInfo{
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C2A4A;
    margin: 12px;
}

.finalInfo h1{
    margin: 0;
}


  @media (max-width: 780px) {

body{
    overflow-x:hidden;
}

#navBar{
    height: auto;
    padding: 10px 0;
    justify-content: space-between;
    height: 10vw;
}

.logo{
    margin-right: 20vw;

}

.navList {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2C2A4A;
    position: absolute;
    top: 11vw;
    right: 0;
    height: 60vw;
    width: 25vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    display: none;

  }

.navList.active{
    transform: translateX(0);
    display: flex;
    align-items: center;
  }

  .mobileMenu{    
    display: block;
    margin-right: 5vw;
  }

a {
    margin: 10px 0;
    margin: 10px;
    font-size: 5vw;
    margin-right: 12vw;
}

.hero {
    align-items: center;
    background-position:bottom;
    background-size: cover;
    background-image: url(sunset-8022573_1280.jpg);
}

.hero{
    align-items: flex-start
}

.callActionTitle {
    margin: 0;
    padding: 20px;
    max-width: 90%;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 15vw;
    margin-top: 10vw;
}

.callActionTitle h1 {
    font-size: 38px;
    font: bold;
    color: white;
}

.callActionTitle h1 span{
    font-size: 52px;
    color: #2C2A4A;
}

.social-icons {
    width: 40vw;
    margin-left: 5vw;
    font-size: 25px;
    margin-top: 8vw ;
}


.callActionTitle p{
    font-size:22px;  
    width: 72vw;
}

.btnExploreMore{
    background-color: #2C2A4A;
    border: 0;
    margin-top: 5vw;
    width: 50%;
}

#navBar{
    width: 100%;
}

.promotion{
    height: 200vw;
}

.promotion h1{
 font-size: 30px;
 width: 90vw;
}

.promotion p{
    font-size: 25px;
    width: 90vw;
}

.optionsOfPromotion{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 16vw;

}

.options{
    width: 80vw;
    border-radius: 20px;
    height: 15vw;
    font-size: 34px;
    margin-bottom: 7vw;

}

.optionsOfPromotion {
    flex-direction: column;
    align-items: center;

}

.packOfTravel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 80vw;
    margin-top: 0vw;
}

.alignText{
    width:90vw;
    margin-left: 4vw;
    margin-bottom: 1vw;

}
.alignContainer{
    flex-wrap: nowrap;
    height: 50vw;
    width: 80%;
    align-items: center;
    margin: 0;
}

.ContainerPack{
    width: 80vw;
    margin: 0;
}

.ContainerPack img{
    width: 80vw;
    border-radius: 10px;
}

.styleBtnBuy{
    height: 20vw;
    align-items: center;
   justify-content: center;
}

.buyTicket{
    width: 27vw;
    height: 8vw;
}

.receiveOurNews{
    height: 110vw;
    justify-content: flex-start;
    margin-top: 90vw;
}

.singnUpInput{
    align-items: center;
    flex-direction: column;
}

.InputSign{
    width: 80vw;
    margin-top: 10vw;
}

.slick-prev, .slick-next {
    background: transparent;
    border: none;
    font-size: 34px;
    color: #2C2A4A;
    position: absolute;
    top: 100%;
    z-index: 10;
  }
  
  .slick-prev {
    left: -38px;
  }
  
  .slick-next {
    right: -38px;
  }


}   
@media (min-width: 820px) and ( max-width: 1050px){

.logo{
    font-size: 30px;
}

a{
    font-size: 24px;
    margin: 1 5px;
}

#navBar{
    height: 7vw;
}

.navList{
    margin-right:4vw;
}

.hero{
align-items: flex-start;
background-image: url(sunset-8022573_1280.jpg);
}

.callActionTitle{
    margin-top: 25vw;
}

.callActionTitle h1{
    font-size: 6vw ;
}

.callActionTitle p{
    font-size:30px;  
    width: 52vw;
}

.btnExploreMore{
    width: 25vw;
    height: 8vw;
    font-size: 25px;
    background-color: #2C2A4A;
    border: 0;
    margin-top: 5vw;
    }

.social-icons {
    margin-top:5vw;
    font-size: 34px;
    margin-left: 1vw;
}

.promotion{
    height: 160vw;
}

.promotion h1{
 font-size: 50px;
 width: 90vw;
}

.promotion p{
    font-size: 35px;
    width: 90vw;
}

.optionsOfPromotion{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 16vw;

}

.options{
    width: 80vw;
    border-radius: 20px;
    height: 15vw;
    font-size: 34px;
    margin-bottom: 7vw;

}

.optionsOfPromotion {
    flex-direction: column;
    align-items: center;

}

.packOfTravel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vw;
    margin: 0vw;
}

.alignText{
    display: flex;
    justify-content: center;
    width:80vw;
    margin-left: 4vw;
    margin-bottom: 1vw;

}

.alignText h2{
    font-size: 60px;
}

.alignText p{
    font-size: 40px;

}

 .alignContainer{
    height: 120vw;
    width: 50vw;
    margin: 0;
    align-items: center;
}

.ContainerPack{
    margin: 0;
    margin-bottom: 0vw;
} 

.ContainerPack img{
    width: 50vw;

}

.ContainerPack h1{
 font-size: 50px;
}

.ContainerPack p{
    font-size: 24px;
}

.leaving{
    font-size: 35px;
}

.styleBtnBuy{
    height: 18vw;
    justify-content: center;
    align-content: center;
}

.buyTicket{
    width: 16vw;
    font-size: 25px;
    height: 7vw;
  }

  
.price{
    font-size: 48px;
    margin: 0;
}

.receiveOurNews{
    height: 60vw;
    justify-content: flex-start;
}

.singnUpInput{
    align-items: center;
    flex-direction: column;
}

.receiveOurNews h1{
    font-size: 54px;
}

.receiveOurNews p{
    font-size: 40px;
    margin: 0;
}

 
.slick-slide {
    min-height: 100%;
} 

.InputSign{
    font-size: 40px;
    width: 80vw;
    height: 7vw;
    margin-top:3vw;
}

.finalInfo h1{
 font-size: 40px;
}

.slick-slider, .slick-list, .slick-track {
    height: 95% ;
    margin: 0;
    padding: 0;
} 

.slick-prev, .slick-next {
    background: transparent;
    border: none;
    font-size: 34px;
    color:rgb(22, 22, 22);
    position: absolute;
    top: 40%;
    z-index: 10;
  }
  
  .slick-prev {
    left: -80px;
  }
  
  .slick-next {
    right: -80px;
  }

}
 

