body{
    padding: 0;
     margin: 0; 
     font-family: 'Playfair Display', serif;
     overflow-x: hidden;
}

h1 h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vw;
    color: white;
    background-color: #2C2A4A;
    flex-direction: row;
    font-size: 15px;
}

.header__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-direction: row;
    width: 83%;
}

@keyframes header__animation-list{
    from{
    opacity: 0;
    transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: none;

    }
}

.header__animation-list{
    animation: header__animation-list 2s forwards;
}

li{
    opacity: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 7px;
}

.header__mobile-menu{
    cursor: pointer;
    display: none;
}

.header__mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.header__logo{
    margin-left: 6vw;
    font-weight: bold;
    opacity: 0;
}

.hero{ 
    display: flex;
    align-items: center;
    color:white;
    background-image: url(photoherocss.jpg);
    background-size: cover;
    background-position:top;
    width: 100%;   
    height: 100vh ;
}

.hero--align{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 2vw;
    margin-left:6vw;
}

.hero--align h1{
    font-size: 48px;    
    margin-bottom: 16px;
}

@keyframes hasShown{
    from{
    opacity: 0;
    transform:translateX(-55px);
    }
to{
opacity: 1;
transform: none;
    }
}

.hasShown{
    animation: hasShown 2s forwards;
}

.hero--align h1 span{
    color:  #454277;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0;
}


.hero--align p{
    font-size:26px;  
    width: 36vw;
    opacity: 0;
}

.hero__button--call-to-action{
    background-color: transparent;
    border: 2px solid #454277;
    color: white;
    padding: 10px 20px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    width: 10vw;
    cursor: pointer;
    opacity: 0;
    transition: background 0.5s;;
    
}

.hero__button--call-to-action:hover{
    background-color: #454277;
}

p {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: 22px;
}

.icons{
    transition: color 0.5s;
    cursor: pointer;
    opacity: 0;
}

.icons:hover{
    color: #454277;
}

.promotion{
    background-color: #2C2A4A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 17vw;
}

.promotion h1{
    margin-top: 3vw;
    font-size: 30px;
    font: bold;
    
}

.promotion p{
    margin: 0;
    font: 26px;

}

.promotion__options{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 2vw;
}

.promotion__buttons--options{
    width: 15vw;
    border-radius: 30px;
    height: 3vw;
    background-color: #fff;
    border: 0000;
    color: #454277;
    cursor: pointer;
    font-size: 20px;
    font: bold;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    transition: background color 0.5s;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.promotion__buttons--options:hover{
    background-color: #454277;
    color: white;
    transform: scale(1.1);

}

.pack-travel{
    background-color: #1e1a2e;
}

.pack-travel__text--align{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    margin-bottom: 2vw;
}

.pack-travel__text--align h2{
    margin-top: 4vw;
    font-size: 30px;
    font: bold;
    font-family: 'Anton', sans-serif;
}

.pack-travel__text--align p{
 font-size: 18px;
}
.tickets-block{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 20px;
    height: 90%;
    opacity: 0;
    animation: animationScroll 1s;
    /* margin: 20px; */
}


.tickets-block__pack{
    margin: 40px;
    width: 22vw;
    height: 34vw;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    background-color: #2C2A4A;
    color: #F5F5F5;   
    margin-bottom: 5vw;
    animation: animationScroll 2s;
    transition: transform 0.3s ease-in-out;
}

@keyframes animationScroll{
    form{
        opacity: 0;
        translate: 100vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;

    }
}

.animationScroll{
    animation: animationScroll 2s forwards;
}


.tickets-block__pack:hover{
    transform: scale(1.1);
}


.pack-travel__text--alignContainer{
 margin-left:10px ;
}

.tickets-block__pack img{
    width: 22vw;
    margin-bottom: 3px;
    border-radius:  10px; ;
}


.tickets-block__pack h1{
    font-size: 24px;
    /* margin-bottom: 5px; */
    font: bold;
}

.leaving{
    color: #dfdede;
    font-size: 17px;
    font: bold;
}

.tickets-block__pack p{
    color: #b6b4b4;
}


.styleBtnBuy{
    width: 100%;
    display: flex;
   justify-content: flex-end;
   align-items: center;
   border-top: 1px solid white;
    /* margin-right: 14vw; */
}

.styleBtnBuy a{
    margin: 0;
    padding: 0;
}

.buyTicket{
 width: 7vw;
 height: 2vw;
 border: 0000;
 border-radius: 5px;
 font-size: 17px;
 color: #454277;
 font: bold;
 margin-right: 2vw;
 margin-top: 8px;
 cursor:pointer;
}

.price{
    font-size: 18px;
    margin: 0;
}

.receiveOurNews{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
  background-color: #2C2A4A;
  color: white;

}

.receiveOurNews h1{
    font: bold;
    margin: 20px;
}

.receiveOurNews p{
    margin-bottom:3vw;
}

.singnUpInput{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3vw;
}

.InputSign{
  width: 24vw;
  font-size: 18px;
  height:33px;
  margin: 10px; 
  border-radius: 10px;
  padding-left: 8px;
  border: 0000;
}

.finalInfo{
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C2A4A;
    margin: 12px;
}

.aboutUs {
    margin: 0;
}

 @media (max-width: 780px) {

body{
    overflow-x:hidden;
}

#header{
    height: auto;
    padding: 10px 0;
    justify-content: space-between;
    height: 10vw;
}

.header__logo{
    margin-right: 20vw;

}

.header__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2C2A4A;
    position: absolute;
    top: 11vw;
    right: 0;
    height: 60vw;
    width: 25vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    display: none;

  }

.header__list.active{
    transform: translateX(0);
    display: flex;
    align-items: center;
  }

  .header__mobile-menu{    
    display: block;
    margin-right: 5vw;
  }

a {
    margin: 10px 0;
    margin: 10px;
    font-size: 5vw;
    margin-right: 12vw;
}

.hero {
    align-items: center;
    background-position:bottom;
    background-size: cover;
    background-image: url(sunset-8022573_1280.jpg);
}

.hero{
    align-items: flex-start
}

.hero--align {
    margin: 0;
    padding: 20px;
    max-width: 90%;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 15vw;
    margin-top: 10vw;
}

.hero--align h1 {
    font-size: 38px;
    font: bold;
    color: white;
}

.hero--align h1 span{
    font-size: 53px;
    color: #2C2A4A;
}

.hero__social-icons {
    width: 40vw;
    margin-left: 5vw;
    font-size: 25px;
    margin-top: 8vw ;
}


.hero--align p{
    font-size:22px;  
    width: 72vw;
}

.hero__button--call-to-action{
    background-color: #2C2A4A;
    border: 0;
    margin-top: 5vw;
    width: 50%;
}

#header{
    width: 100%;
}

.promotion{
    height: 200vw;
}

.promotion h1{
 font-size: 30px;
 width: 90vw;
}

.promotion p{
    font-size: 25px;
    width: 90vw;
}

.promotion__options{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 16vw;

}

.promotion__buttons--options{
    width: 80vw;
    border-radius: 20px;
    height: 15vw;
    font-size: 34px;
    margin-bottom: 7vw;

}

.promotion__options {
    flex-direction: column;
    align-items: center;

}

.pack-travel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 80vw;
    margin-top: 0vw;
}

.pack-travel__text--align{
    width:90vw;
    margin-left: 4vw;
    margin-bottom: 1vw;

}
.tickets-block{
    flex-wrap: nowrap;
    height: 50vw;
    width: 80%;
    align-items: center;
    margin: 0;
}

.tickets-block__pack{
    width: 80vw;
    margin: 0;
}

.tickets-block__pack img{
    width: 80vw;
    border-radius: 10px;
}

.styleBtnBuy{
    height: 20vw;
    align-items: center;
   justify-content: center;
}

.buyTicket{
    width: 27vw;
    height: 8vw;
}

.receiveOurNews{
    height: 110vw;
    justify-content: flex-start;
    margin-top: 90vw;
}

.singnUpInput{
    align-items: center;
    flex-direction: column;
}

.InputSign{
    width: 80vw;
    margin-top: 10vw;
}

.slick-prev, .slick-next {
    background: transparent;
    border: none;
    font-size: 34px;
    color: #2C2A4A;
    position: absolute;
    top: 100%;
    z-index: 10;
  }
  
  .slick-prev {
    left: -38px;
  }
  
  .slick-next {
    right: -38px;
  }


}   
@media (min-width: 820px) and ( max-width: 1050px){

.header__logo{
    font-size: 30px;
}

a{
    font-size: 24px;
    margin: 1 5px;
}

#header{
    height: 7vw;
}

.header__list{
    margin-right:4vw;
}

.hero{
align-items: flex-start;
background-image: url(sunset-8022573_1280.jpg);
}

.hero--align{
    margin-top: 25vw;
}

.hero--align h1{
    font-size: 6vw ;
}

.hero--align p{
    font-size:30px;  
    width: 52vw;
}

.hero__button--call-to-action{
    width: 25vw;
    height: 8vw;
    font-size: 25px;
    background-color: #2C2A4A;
    border: 0;
    margin-top: 5vw;
    }

.hero__social-icons {
    margin-top:5vw;
    font-size: 34px;
    margin-left: 1vw;
}

.promotion{
    height: 160vw;
}

.promotion h1{
 font-size: 50px;
 width: 90vw;
}

.promotion p{
    font-size: 35px;
    width: 90vw;
}

.promotion__options{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    margin-top: 16vw;

}

.promotion__buttons--options{
    width: 80vw;
    border-radius: 20px;
    height: 15vw;
    font-size: 34px;
    margin-bottom: 7vw;

}

.promotion__options {
    flex-direction: column;
    align-items: center;

}

.pack-travel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vw;
    margin: 0vw;
}

.pack-travel__text--align{
    display: flex;
    justify-content: center;
    width:80vw;
    margin-left: 4vw;
    margin-bottom: 1vw;

}

.pack-travel__text--align h2{
    font-size: 60px;
}

.pack-travel__text--align p{
    font-size: 40px;

}

.tickets-block{
    height: 120vw;
    width: 50vw;
    margin: 0;
    align-items: center;
}

.tickets-block__pack{
    margin: 0;
    margin-bottom: 0vw;
} 

.tickets-block__pack img{
    width: 50vw;

}

.tickets-block__pack h1{
 font-size: 50px;
}

.tickets-block__pack p{
    font-size: 24px;
}

.leaving{
    font-size: 35px;
}

.styleBtnBuy{
    height: 18vw;
    justify-content: center;
    align-content: center;
}

.buyTicket{
    width: 16vw;
    font-size: 25px;
    height: 7vw;
  }

  
.price{
    font-size: 48px;
    margin: 0;
}

.receiveOurNews{
    height: 60vw;
    justify-content: flex-start;
}

.singnUpInput{
    align-items: center;
    flex-direction: column;
}

.receiveOurNews h1{
    font-size: 54px;
}

.receiveOurNews p{
    font-size: 40px;
    margin: 0;
}

 
.slick-slide {
    min-height: 100%;
} 

.InputSign{
    font-size: 40px;
    width: 80vw;
    height: 7vw;
    margin-top:3vw;
}

.finalInfo h1{
 font-size: 40px;
}

.slick-slider, .slick-list, .slick-track {
    height: 95% ;
    margin: 0;
    padding: 0;
} 

.slick-prev, .slick-next {
    background: transparent;
    border: none;
    font-size: 34px;
    color:rgb(22, 22, 22);
    position: absolute;
    top: 40%;
    z-index: 10;
  }
  
  .slick-prev {
    left: -80px;
  }
  
  .slick-next {
    right: -80px;
  }
}
 

