body{
    padding: 0;
    margin: 0;
    background-color: rgb(247, 243, 255);
    font-family: 'Playfair Display', serif;
}

h1 h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

button{
    border: 0000;
}

/* @keyframes hasShown{
    from{
    opacity: 0;
    transform:translateX(-50px);
    }
to{
opacity: 1;
transform: none;
    }
}

.hasShown{
    animation: hasShown 2s forwards;
} */

.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    height: 78px;
    background-color: #2C2A4A;
}

.header__logo-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header__icon{
    height: 36px;
}

.header--align{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 14px ;
    margin-left: 14px ;
    align-items: center;
    justify-content: space-between;
}

.header__mobile-menu{
    cursor: pointer;
}

.header__line{
    width: 32px;
    margin: 6px;
    height: 2px;
    background-color: white;
}

.header__list{
    display: none;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
}

.header__list a{
    color: white;
    text-decoration: none;    
}

.hero{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    background-image: url(sunset-8022573_1280.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.hero__itens--align{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top:18%;
}

.hero__itens--align h1{
    font-size: 38px;
    margin-bottom: 26px;
}

.hero__itens--align h1 span{
    color: #454277;
    font-weight: 700;
    font-size: 44px;
}

.hero__itens--align p{
    font-size: 23px;
    width: 80%;
}

.hero__button--call-to-action{
    background-color: #2C2A4A;
    color: white;
    height: 44px;
    font-size: 16px;
    margin-top: 5%;
    border-radius: 5px;
    font-weight: bold;
    width: 45%;
    cursor: pointer;
}

.hero__social-icons{
    display: flex;
    margin-left: 5px;
    gap: 34px;
    margin-top: 22px;
    font-size: 26px;
}

.promotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C2A4A;
    color: white;
}

.promotion__container{
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.promotion h1{
    margin-top: 4.5%; 
    font-size: 26px;
    font: bold
}

.promotion p{
    font-size: 22px;
}

.promotion__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 10%;
}

.promotion__buttons--options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-radius: 18px ;
    color: #454277;
    height: 48px;
    font-size: 22px;
    font: bold;
    transition: background color 0.5s;
    cursor: pointer;
}

.promotion__buttons--options:active{
    background-color: #454277;
    color: white;
}

.pack-travel__text--align{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2C2A4A;
    margin-left: 4.5%;
    margin-right: 4.5%;
}


.pack-travel__text--align h2{

    margin-top: 10%;
    font-size: 26px;
    font: bold;
}

.pack-travel__text--align p{
    font-size: 22px;
    margin-bottom: 4%;
}

.block-tickets{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 5%;
    gap: 30px;
}

.block-tickets__dynamic-offers{
    display: none;
}

.block-tickets__slider{
    margin: 0;
    padding: 0;
}

.block-tickets__content-pack{
    gap: 30px;
    flex-direction: column;
    height: auto;
}

.block-tickets--align-reverse{
 display: none;
}
.icon-suitcase{
    margin: 0;
}

.block-tickets__slider{
    width: 90%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    display: flex;
}


.block-tickets__content-pack{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-tickets__pack{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
      transition: transform 0.3s ease; 
    width: 88%;
    background-color: white;
    color: #454277;
}

.block-tickets__pack img{
    width: 100%;
    border-radius: 8px;
}

.block-tickets__pack--align{
    margin: 0;
    margin-left: 4%;
}

.block-tickets__destination{
    font-size: 26px;
}

.block-tickets__leaving{
    margin-bottom: 0;
    font-size: 22px;
}

.block-tickets__pack p{
    font-size: 20px;
}

.block-tickets__content-final{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
    height: auto;
    margin-top: 0;
    margin-right: 6%;
    margin-bottom: 8%;
}

.block-tickets__price{
    margin-bottom: 8%;
    font-size: 23px;
}


.block-tickets__button--buy-ticket{
    margin-right: 6%;
    border-radius: 5px;
    height: 35px;
    background-color: #454277;
    color: white;
    font-size: 18px;
    width: 40%;
}

.newsletter{
    display: flex;
    align-items: center;
    margin-top: 20%;
    justify-content: center;
    flex-direction: column;
    background-color: #2C2A4A;
    color: white;
}

.newsletter__title{
    font-size: 26px ;
    font: bold;
    margin: 8px;
}

.newsletter__text{
    font-size: 22px;
    margin-bottom: 22px;
}

.newsletter__register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.newsletter__input{
    width: 92%;
    font-size: 20px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    border: 0000;
}

.slick-prev-custom,.slick-next-custom {
    display: none;
}


@media (min-width: 750px){

.header{
    display: flex;
    align-items: center;
    height: 90px;
}

.header--align{
    align-items: center;
    margin-left: 5% ;
    margin-right: 5%;
}

.header__logo{
    font-size: 31px;
}

.header__line{
    width: 54px;
    height: 2px;
    margin: 10px;
    background-color: white;
}

.hero__itens--align{
    margin-top:8%;
    margin-left: 6%;
}

.hero__itens--align h1{
    width: 100%;
    font-size: 56px;
}

.hero__itens--align h1 span{
    font-size: 64px;
}

.hero__itens--align p{
    width: 100%;
    font-size: 46px;
}

.hero__button--call-to-action{
    height: 62px;
    font-size: 30px;
}

.hero__social-icons{
    gap: 60px;
    margin-top: 7%;
    font-size: 40px;
}

.promotion h1{
    margin-top: 4.5%; 
    font-size: 39px;
    font: bold
}

.promotion p{
    font-size: 33px;
}

.promotion__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 10%;
    margin-bottom: 55px;
}

.promotion__buttons--options{
    height: 68px;
    font-size: 32px;
}

.pack-travel__text--align h2{
    margin: 0;
    margin-top: 5%;
    font-size: 39px;
}

.pack-travel__text--align p{
    font-size: 33px;
    margin-bottom: 2%;
}

.block-tickets{
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: space-aroud;
    flex-wrap: wrap;
}

.block-tickets__pack{
    margin-bottom: 4%;
    width: 44%;
}

.block-tickets__pack--align{
    font-size: 24px;
}

.block-tickets__leaving{
    font-size: 25px;
}

.block-tickets__destination{
    font-size: 28px;
}

.block-tickets__price{
    font-size: 27px;
}

.block-tickets__button--buy-ticket{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 23px;
    height: 40px;
}

.block-tickets__content-final{
    margin-bottom: 13%;
    margin-right: 2% ;
}

.newsletter{
    margin-top:5%;
}

.newsletter__title{
    margin: 0;
    font-size: 39px;
    margin-top: 4%;
}

.newsletter__text{
    margin-bottom: 4%;
}

.newsletter__register{
    font-size: 33px;
    margin-bottom: 5%;
}

.newsletter__input{
    font-size: 28px;
    height: 50px;
}
}

@media (min-width: 1025px){

.header{
    align-items: center;
    height: 64px;
}

.header--align{
    margin-left: 6%;
    align-items: center;
    margin-right: 6%;
}

.header__mobile-menu{
    display: none;
}

.header__list{
    display: flex;
    width: 26%;
    font-size: 16px;
    justify-content: space-between;
}

.header__logo{
    font-size: 22px;
}

.hero{
    background-image: url(photoherocss.jpg);
}

.hero__itens--align{
    margin-top: 7%;
    width: 42%;
    margin-bottom: 20%;
}

.hero__itens--align p{
    width: 72%;
    font-size: 27px;
}

.hero__itens--align h1{
    font-size: 48px;
}

.hero__itens--align h1 span{
    font-size: 48px;
}

.hero__button--call-to-action{
    border: #454277 2px solid;
    background-color: transparent;
    width: 26%;
    cursor: pointer;
    transition: background 0.4s;
      transition: transform 0.4s ease;
     
    font-size: 14px;
    height: 40px;
}

.hero__button--call-to-action:hover{
      transform: scale(1.1); 
    background-color: #454277;
}

.hero__social-icons{
    gap: 6%;
    margin-top: 4%;
    font-size: 22px;
}

.hero__social-icons i{
    cursor: pointer;
    transition: transform 0.4s ease;
    transition: color 0.4s ease;
}

.hero__social-icons i:hover{
    transform: scale(1.1); 
    color: #454277;
}

.promotion__container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.promotion h1{
    margin-bottom: 2px;
    font-size: 30px;
}

.promotion p{
    font-size: 23px;
}

.promotion__options{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
}

.promotion__buttons--options{
    display: flex;
    flex-wrap: wrap;
    width:220px;
    font-size: 20px;
    height: 44px;
    transition: transform 2s ease;
    transition: background 0.4s;
}

.promotion__buttons--options:hover{
    color: white;
    background-color: #454277;
        transform: scale(1.1); 

}

.pack-travel__text--align h2{
    font-size: 30px;
}

.pack-travel__text--align p{
    font-size: 23px;
}

.pack-travel__text--align{
    margin: 0;
}

.block-tickets__pack{
    width: 20%;
}

.block-tickets{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    margin-bottom: 10%;
}

.block-tickets__slider{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    width: 55%;
    margin-bottom: 0;
    height: 420px;
}

.block-tickets__content-pack{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 440px;
    width: 80%;

}

.block-tickets__dynamic-offers{
    display: flex;
    width: 28%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 4%;
    align-items: center;
}

.block-tickets__text-offers{
    font-size: 36px;
}

.block-tickets__text-offers span{
    color: #4a4688;
}

.icon-suitcase{
    height: 60px;
    margin-left: 10%;
}

.block-tickets__pack{
    cursor: pointer;
    transition: transform 0.4s ease;
    width: 32%;
}

.block-tickets__pack:hover{
        transform: scale(1.1); 

}

.block-tickets__destination{
    font-size: 20px;
}

.block-tickets__pack--align p{
    color: rgb(105, 105, 105);
    font-size: 14px;
}

.block-tickets__leaving{
    font-size: 16px;
}

.block-tickets__price{
    font-size: 16px;
    margin-bottom: 2%;
}

.block-tickets__button--buy-ticket{
    height: 26px;
    color: white;
    cursor: pointer;
    background-color: #454277;
    width: 36%;
    font-size: 16px;
}

.slick-prev-custom,.slick-next-custom {
    display: block;
  height: 40px;
  background-color: #454277;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 6px;
  margin: 10px;
}

.block-tickets--align-reverse{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: row-reverse;
}


.newsletter{
    margin-top: 1%;
}

.newsletter__title{
    font-size: 30px;
}

.newsletter__text{
    font-size: 23px;
}

.newsletter__register{
    flex-direction: row;
}

.newsletter__input{
    height: 40px;
    font-size: 18px;
    width: 30%;
}


}


